html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: var(--main-bg-color);
  background-image: url(../assets/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
}

.navbar__container {
  width: 100%;
  max-width: 1280px;
  padding: 50px 20px;
  margin: 0 auto;
}

.navbar__list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.navbar__item img {
  width: 20px;
  height: 20px;
  margin-top: -4px;
}

.navbar__item a {
  width: 100%;
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 2rem;
  line-height: 0;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

footer {
  width: 100%;
  border-top: 2px solid #9956f640;
}

.footer__content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer__content img {
  width: 100px;
}

.footer__content p {
  font-family: var(--secondary-font);
  color: var(--secondary-text-color);
}
