@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap");

:root {
  --main-bg-color: #121214;
  --accent-color: #9956f6;
  --main-text-color: #f6f6f6;
  --secondary-text-color: #f6f6f6c9;
  --main-font: "Do Hyeon", sans-serif;
  --secondary-font: "Lato", sans-serif;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 150px 20px;
  display: flex;
}

.presentation__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-right: 20px;
}

.presentation__content h1 {
  font-family: var(--main-font);
  font-size: 3.6rem;
  color: var(--main-text-color);
  letter-spacing: 5px;
}

.presentation__content h1 span {
  color: var(--accent-color);
}

.presentation__content p {
  padding-top: 32px;
  font-family: var(--secondary-font);
  font-size: 2rem;
  line-height: 3rem;
  color: var(--secondary-text-color);
}

.curriculum__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}


.curriculum__button {
  width: 100%;
  max-width: 375px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding: 12px 30px;
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.curriculum__button:hover {
  scale: 1.05;
}

.profile__image__container {
  width: 50%;
  display: flex;
  justify-content: right;
}

.profile__image__container img {
  width: 100%;
  object-fit: contain;
}